body{
    background-color: black;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    
    width: 100%;

}

h2{
    font-size: 42px;
    font-weight: 300;
}

h3{
    font-size: 21px;
    color: gray;
}

h4{
    color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

h5{
    margin:0;
}

footer{
    width:100%;
    display: flex;
    justify-content: right;
}

video{
    max-width: 800px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}

i{
    margin-right: 5px;
}

